<main class="wrapper">
  <div class="header-container">
    <h2>Comentários</h2>
    <po-button class="po-lg-2" (p-click)="habilitarInputParaComentario()" p-label="Novo comentário"></po-button>
  </div>

  <ng-container *ngIf="inputComentarioVisivel">
    <form [formGroup]="formComentario">
      <po-textarea
        class=""
        formControlName="comentario"
        p-label="Seu comentário">
      </po-textarea>
    </form>
    <po-button
      class=""
      (p-click)="enviarPost()"
      p-icon="po-icon po-icon-arrow-right"
    ></po-button>
  </ng-container>

  <ng-container *ngFor="let l of list">
    <div class="card">
      <p>
        Esse é um comentário teste
      </p>

      <div class="flexContainer">
        <span>Autor: Beto Alves Nascimento</span>
        <span>Publicado em: 10/01/2023 14:00:00</span>
      </div>
    </div>
  </ng-container>
</main>
