.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  border-top: 1px solid #CDCDCD;
  padding-top: 12px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;

  border-radius: 6px;
  border: 2px solid #cdcdcd;
  margin-bottom: 20px;
  padding: 10px 16px;
  gap: 12px;
}

.comentarioComponente {
  word-break: break-all;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 14px;
}

span {
  font-size: 10px;
  font-style: italic;
}